@model List<AESApplications.Models.ReferenceModel>

@{
    ViewBag.Title = "References";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    @using (Html.BeginForm("Index", "References", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        for (int i = 0; i < Model.Count; i++)
        {

            <div class="generic-container box-shadow">

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].name)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].name, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].name)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].phone)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].phone, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].phone)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].company)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].company, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].company)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].title)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].title, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].title)</div>
                    </div>
                </div>

            </div>

        }

        <input type="submit" value="Continue" />

    }

</div>