<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A.E.S Job Kiosk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: gray">

    <div class="aes_body">
        <div class="aes_header">
            <button type="button" class="large">
                @Html.ActionLink("Main Menu", "Index", "Application/Index")
            </button>
        </div>
        <div class="aes_content">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p style="text-align: center; color: white">&copy; @DateTime.Now.Year - A.E.S. Incorporated</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
