@model AESApplications.Models.PersonalInfoModel

@{
    ViewBag.Title = "Personal Info";
    ViewBag.LeftButtonLink = "../Home/Welcome";
    ViewBag.RightButtonLink = "";
}

<h2>@ViewBag.Title</h2>

<section>
    @using (Html.BeginForm("Index", "PersonalInfo", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(m => m.name_first, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.name_first, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name_first)
        </div>
        <div>
            @Html.LabelFor(m => m.name_middle, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.name_middle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name_middle)
        </div>
        <div>
            @Html.LabelFor(m => m.name_last, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.name_last, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name_last)
        </div>
        <div>
            @Html.LabelFor(m => m.name_alt, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.name_alt, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name_alt)
        </div>
        <div>
            @Html.LabelFor(m => m.street, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.street, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.street)
        </div>
        <div>
            @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.city)
        </div>
        <div>
            @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.state)
        </div>
        <div>
            @Html.LabelFor(m => m.zip, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.zip, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.zip)
        </div>
        <div>
            @Html.LabelFor(m => m.phone_num, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.phone_num, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.phone_num)
        </div>
        <div>
            @Html.LabelFor(m => m.ssn, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.ssn, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ssn)
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</section>