@model List<AESApplications.Test.Job>

@{
    ViewBag.Title = "Local Jobs";
    ViewBag.LeftButtonLink = "";
    ViewBag.RightButtonLink = "";
}

<div style="text-align: center; margin: 20px;">

    <br />
    <br />

    <span class="content_header">@ViewBag.Title</span>

    <br />
    <br />

    <h2 style="color: gray; font-size: 1.25em;">Click a job position to show or hide details.</h2>

    @using (Html.BeginForm("Index", "Questionnaire", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        foreach (AESApplications.Test.Job job in Model)
        {
            <div id="position-container">

                <div class="position-toggleable">

                    <div class="position-brief">

                        <div style="display: table;">

                            <div style="display: table-row;">
                                <div class="position-detail-title">Store Location</div>
                                <div class="position-detail-content">@job.location</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Job Title</div>
                                <div class="position-detail-content">@job.title</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Description</div>
                                <div class="position-detail-content">@job.description.Substring(0, 100)...</div>
                            </div>

                        </div>

                    </div>

                    <div class="position-complete" style="display: none;">

                        <div style="display: table;">

                            <div style="display: table-row;">
                                <div class="position-detail-title">Store Location</div>
                                <div class="position-detail-content">@job.location</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Job Title</div>
                                <div class="position-detail-content">@job.title</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Description</div>
                                <div class="position-detail-content">@job.description</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Hours</div>
                                <div class="position-detail-content">@job.hours</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Education</div>
                                <div class="position-detail-content">@job.education</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title">Requirements</div>
                                <div class="position-detail-content">@job.requirements</div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="position-apply">
                    <input type="checkbox" id="@job.jobId" value="@job.jobId.ToString()" />
                    <br />
                    Add
                </div>

            </div>
        }

        <br />

        <input type="submit" value="Apply" />
    }

    <script>

        $('.position-toggleable')
      .css('cursor', 'default')
      .click(
        function () {
            $(this).children().toggle();
        }
      )

    </script>

</div>