@model List<AESApplications.Test.Job>

@{
    ViewBag.Title = "Local Jobs";
    ViewBag.LeftButtonLink = "";
    ViewBag.RightButtonLink = "";
}

<div style="text-align: center; margin: 20px;">

    <br />
    <br />

    <span class="content_header">@ViewBag.Title</span>

    <br />
    <br />

    @using (Html.BeginForm("Index", "Questionnaire", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        foreach (AESApplications.Test.Job job in Model)
        {
            <div id="position-container">

                <div id="position-header">
                    Position: @job.title      Location: @job.location
                </div>

                <div id="position-header">
                    <input type="checkbox" id="@job.jobId" value="@job.jobId.ToString()" />
                </div>

                <div id="position-body">
                    <ul>
                        <li>Description<ul><li>@job.description</li></ul></li>
                        <li>Hours<ul><li>@job.hours</li></ul></li>
                        <li>Education Requirement<ul><li>@job.education</li></ul></li>
                        <li>Responsibilities and Requirements<ul><li>@job.requirements</li></ul></li>
                    </ul>
                </div>

            </div>
        }

        <br />

        <input type="submit" value="Apply" />
    }

</div>