@model List<AESApplications.Models.JobModel>

@{
    ViewBag.Title = "Local Jobs";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    <div class="content-subheader">Click a job position to show or hide details.</div>

    @using (Html.BeginForm("Index", "Questionnaire", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        foreach (var job in Model)
        {
            <div class="position-container box-shadow" style="display: table;">

                <div class="position-toggleable" style="display: table-cell;">

                    <div>

                        <div style="display: table; min-height: 80px; min-width: 100%;">

                            <div style="display: table-row;">
                                <div class="position-detail-partial-title" style="width: 150px; display: table-cell;">Store Location</div>
                                <div class="position-detail-partial-title" style="width: 150px; display: table-cell;">Job Title</div>
                                <div class="position-detail-partial-title">Description</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-partial-content" style="width: 150px; display: table-cell;">@job.location</div>
                                <div class="position-detail-partial-content" style="width: 150px; display: table-cell;">@job.title</div>
                                <div class="position-detail-partial-content" style="display: table-cell;">@job.description.Substring(0, job.description.Length < 50 ? job.description.Length : 50)...</div>
                            </div>

                        </div>

                    </div>

                    <div class="position-complete" style="display: none;">

                        <div style="display: table;">

                            <div style="display: table-row;">
                                <div class="position-detail-title" style="display: table-cell">Store Location</div>
                                <div class="position-detail-content" style="display: table-cell">@job.location</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title" style="display: table-cell">Job Title</div>
                                <div class="position-detail-content" style="display: table-cell">@job.title</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title" style="display: table-cell">Description</div>
                                <div class="position-detail-content" style="display: table-cell">@job.description</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title" style="display: table-cell">Hours</div>
                                <div class="position-detail-content" style="display: table-cell">@job.hours</div>
                            </div>

                            <div style="display: table-row;">
                                <div class="position-detail-title" style="display: table-cell">Pay</div>
                                <div class="position-detail-content" style="display: table-cell">@job.pay</div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="position-apply text-shadow box-shadow" style="display: table-cell;">
                    <input type="checkbox" id="@job.jobId" name="@job.jobId.ToString()" />
                    <br />
                    Add
                </div>

            </div>

        }

        <input type="submit" value="Apply" />
    }

    <script>

        $('.position-toggleable')
        .css('cursor', 'default')
        .click(
          function () {
              $(this).children().slideToggle('fast');
          }
        )

    </script>

</div>