@model List<AESApplications.Models.EducationModel>

@{
    ViewBag.Title = "Education";
    ViewBag.LeftButtonLink = "../Home/Welcome";
    ViewBag.RightButtonLink = "";
}

<h2>@ViewBag.Title</h2>

<section>
    @using (Html.BeginForm("Index", "Education", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        for (int i = 0; i < Model.Count; i++)
        {
            <div>
                @Html.LabelFor(m => m[i].name_address)
                @Html.TextBoxFor(m => m[i].name_address)
                @Html.ValidationMessageFor(m => m[i].name_address)
            </div>
            <div>
                @Html.LabelFor(m => m[i].years_attended)
                @Html.TextBoxFor(m => m[i].years_attended)
                @Html.ValidationMessageFor(m => m[i].years_attended)
            </div>
            <div>
                @Html.LabelFor(m => m[i].graduated)
                @Html.TextBoxFor(m => m[i].graduated)
                @Html.ValidationMessageFor(m => m[i].graduated)
            </div>
            <div>
                @Html.LabelFor(m => m[i].degree)
                @Html.TextBoxFor(m => m[i].degree)
                @Html.ValidationMessageFor(m => m[i].degree)
            </div>
            <br />
        }
        <br />
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</section>