@model List<AESApplications.Models.EducationModel>

@{
    ViewBag.Title = "Education";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    @using (Html.BeginForm("Index", "Education", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        for (int i = 0; i < Model.Count; i++)
        {

            <div class="generic-container box-shadow">

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].name_address)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].name_address, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].name_address)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].years_attended)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].years_attended, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].years_attended)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].graduated)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].graduated, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].graduated)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].degree)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].degree, new { Class = "field-input" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].degree)</div>
                    </div>
                </div>

            </div>
        }
        
        <input type="submit" value="Continue" />

    }

</div>