@model List<AESApplications.Test.Question>

@{
    ViewBag.Title = "Questionnaire";
    ViewBag.LeftButtonLink = "";
    ViewBag.RightButtonLink = "";
}

<h2>@ViewBag.Title</h2>

<div>
    <section id="loginForm">
        @using (Html.BeginForm("CheckQuestions", "Questionnaire", FormMethod.Post))
        { 
            <div class="form-group">
                @for (int i = 0; i < Model.Count; i++ )
                {
                    <p>@Model[i].question</p>
                    @Html.Label("Yes");
                    @Html.RadioButtonFor(model => model[i].response, "Yes");
                    @Html.Label("No");
                    @Html.RadioButtonFor(model => model[i].response, "No");
                    <br />
                    <br />
                }
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Apply" class="btn btn-default" />
                </div>
            </div>
        }
    </section>

</div>