@model List<AESApplications.Models.QuestionModel>

@{
    ViewBag.Title = "Questionnaire";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">Please answer a few questions...</div>

    @using (Html.BeginForm("CheckQuestions", "Questionnaire", FormMethod.Post))
    {

        <div class="question-container box-shadow">

            @for (int i = 0; i < Model.Count; i++)
            {

                @Html.HiddenFor(m => Model[i].correctAnswer, Model[i].correctAnswer);
                @Html.HiddenFor(m => Model[i].question, Model[i].question);

                <div style="display: table-row;">

                    <div class="question">@Model[i].question</div>
                    <div class="radio-button">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(m => m[i].response, "y")
                    </div>
                    <div class="radio-button" style="border-left: 1px solid #3790db;">
                        @Html.Label("No")
                        @Html.RadioButtonFor(m => m[i].response, "n")
                    </div>

                </div>

            }

        </div>

        <input type="submit" value="Continue" />

    }

</div>