<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.Title - A.E.S. Job Application Kiosk</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body style="background-color: gray;">

    <div class="container box-shadow">

        <div style="display: table-row;">
            <div class="header text-shadow background-header-footer" style="display: table-cell">
                A.E.S. Job Application Kiosk
            </div>
        </div>

        <div style="display: table-row;">
            <div class="content" style="display: table-cell">
                @RenderBody()
            </div>
        </div>

        <div style="display: table-row;">
            <div class="navigation background-nav" style="display: table-cell">
                @Html.Partial("_NavigationPartial")
            </div>
        </div>

        <div style="display: table-row;">
            <div class="footer background-header-footer" style="display: table-cell">
                &copy; @DateTime.Now.Year - A.E.S. Incorporated
            </div>
        </div>

    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
