<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.Title - A.E.S. Job Application Kiosk</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body style="background-color: gray">

    <div id="container" class="box-shadow">

        <div id="header">
            <div style="margin: 20px;">A.E.S. Job Application Kiosk</div>
        </div>

        <div id="content">
            <div style="margin: 20px; display: table-cell; vertical-align: middle;">@RenderBody()</div>
        </div>

        <div id="navigation">
            <div style="margin: 20px;">@Html.Partial("_NavigationPartial")</div>
        </div>

        <div id="footer">
            <div style="margin: 20px;">&copy; @DateTime.Now.Year - A.E.S. Incorporated</div>
        </div>

    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
